<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather API Page</title>
    <link rel="stylesheet" href="css\style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 class="heading"><%= temp %>°C</h1>
    <h3 class="weather"> Weather in <%= city %> is likely <%= weather %></h3>
    <img class="bgimage" src=<%= climate %>>
  </body>
</html>
